<div class="container">
<div class="d-flex">
<h1><%= @task.title %></h1>
<%= link_to '✎ Edit this task', edit_task_path(@task), :class => "btn btn-outline-dark pull-right" %>
</div>
<div class="card">
  <div class="card-body">
    <p class="card-text"><%= @task.details %></p>
  </div>
</div>
<% if @task.completed %>
<div class="">✔️ This task is completed</div>
<% else %>
<div class="">❌ This task is not completed yet</div>
<% end %>
<hr>
↩️ <%= link_to 'Back to list', tasks_path %>
</div>